body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, lightblue, darkblue);
    padding: 5vh;
    text-align: center;
}

h3 {
    text-decoration: underline;
}

ul {
    font-size: 20px;
    text-align: left;
}

.search-container {
    border: solid black 3px;
    width: 25%;
    margin: 5vh;
    padding: 3vh;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.current-city-container {
    display: flex;
    flex-direction: column;
    margin: 5vh;

}

.current-weather-info {
    background-color: lightblue;
    padding: 20px;
    border: solid black 3px;
}

.five-day-forecast {
    display: flex;
    flex-direction: column;
    margin: 5vh;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

.forecast-layout {
    display: flex;
    flex-direction: row;
}

#five-day-forecast1 {
    background-color: rgb(35, 22, 92);
    margin: 1vh;
    padding: 2vh;
    line-height: 1.5;
    color: white;
    
  
}

#five-day-forecast2 {
    background-color: rgb(35, 22, 92);
    margin: 1vh;
    padding: 2vh;
    line-height: 1.5;
    color: white;
}

#five-day-forecast3 {
    background-color: rgb(35, 22, 92);
    margin: 1vh;
    padding: 2vh;
    line-height: 1.5;
    color: white;
}

#five-day-forecast4 {
    background-color: rgb(35, 22, 92);
    margin: 1vh;
    padding: 2vh;
    line-height: 1.5;
    color: white;
}

#five-day-forecast5 {
    background-color: rgb(35, 22, 92);
    margin: 1vh;
    padding: 2vh;
    line-height: 1.5;
    color: white;
}