body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, lightblue, darkblue);
    padding: 5vh;
    text-align: center;
}

h3 {
    text-decoration: underline;
}

ul {
    font-size: 20px;
    text-align: left;
}

.search-container {
    border: solid black 3px;
    width: 25%;
    margin: 5vh;
    padding: 3vh;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.current-city-container {
    display: flex;
    flex-direction: column;
    margin: 5vh;

}

.current-weather-info {
    background-color: lightblue;
    padding: 20px;
    border: solid black 3px;
}

.five-day-forecast {
    display: flex;
    flex-direction: column;
    margin: 5vh;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

.forecast-layout {
    display: flex;
    flex-direction: row;
}

#five-day-forecast1 {
    background-color: rgb(45, 40, 67);
    margin: 1vh;
    padding: 2vh;
    line-height: 2;
    color: white;
    
  
}

#five-day-forecast2 {
    background-color: rgb(45, 40, 67);
    margin: 1vh;
    padding: 2vh;
    line-height: 2;
    color: white;
}

#five-day-forecast3 {
    background-color: rgb(45, 40, 67);
    margin: 1vh;
    padding: 2vh;
    line-height: 2;
    color: white;
}

#five-day-forecast4 {
    background-color: rgb(45, 40, 67);
    margin: 1vh;
    padding: 2vh;
    line-height: 2;
    color: white;
}

#five-day-forecast5 {
    background-color: rgb(45, 40, 67);
    margin: 1vh;
    padding: 2vh;
    line-height: 2;
    color: white;
}

#city-and-date {
    font-weight: bolder;
    font-size: 24px;
    padding-bottom: 10px;
}

#previous-cities-list li {
    padding: 1vh;
    text-align: center;
    background-color: lightgrey;
    border: solid grey 2px;
    border-radius: 5px;
    margin-top: 4px;
    margin-right: 15px;
}

.fa-sun {
    display: none;
}

.fa-cloud {
    display: none;
}

.fa-cloud-rain {
    display: none;
}