h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, lightblue, darkblue);
    padding: 5vh;
    text-align: center;
}

.search-container {
    border: solid black 5px;
    width: 25%;
    margin: 5vh;
    padding: 3vh;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.current-city-container {
    display: flex;
    flex-direction: column;
    margin: 5vh;

}

.current-weather-info {
    background-color: lightblue;
    padding: 20px;
    border: solid black 5px;
}

.five-day-forecast {
    display: flex;
    flex-direction: column;
    margin: 5vh;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    list-style-type: none;
}